# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

pd.options.display.float_format = "{:,.2f}".format

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
# urban_city_type_df = pyber_data_df[pyber_data_df["type"]=="Urban"]
# suburban_city_type_df = pyber_data_df[pyber_data_df["type"]=="Suburban"]
# rural_city_type_df = pyber_data_df[pyber_data_df["type"]=="Rural"]

type_rides_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
type_rides_count

# urban_rides = urban_city_type_df.count()["ride_id"]
# suburban_rides = suburban_city_type_df.count()["ride_id"]
# rural_rides = rural_city_type_df.count()["ride_id"]

# print(urban_rides)
# print(suburban_rides)
# print(rural_rides)

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [5]:
# 2. Get the total drivers for each city type

type_driver_count = city_data_df.groupby(["type"]).sum()["driver_count"]
type_driver_count

# urban_drivers = urban_city_type_df.sum()["driver_count"]
# suburban_drivers = suburban_city_type_df.sum()["driver_count"]
# rural_drivers = rural_city_type_df.sum()["driver_count"]

# print(urban_drivers)
# print(suburban_drivers)
# print(rural_drivers)

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [6]:
#  3. Get the total amount of fares for each city type

type_fares_total = pyber_data_df.groupby(["type"]).sum()["fare"]
type_fares_total

# urban_fares = urban_city_type_df.sum()["fare"]
# suburban_fares = suburban_city_type_df.sum()["fare"]
# rural_fares = rural_city_type_df.sum()["fare"]

# print(urban_fares)
# print(suburban_fares)
# print(rural_fares)

type
Rural       4,327.93
Suburban   19,356.33
Urban      39,854.38
Name: fare, dtype: float64

In [7]:
#  4. Get the average fare per ride for each city type.

type_fares_avg = pyber_data_df.groupby(["type"]).mean()["fare"]
type_fares_avg

# avg_urban_fares = urban_fares / urban_rides
# avg_suburban_fares = suburban_fares / suburban_rides
# avg_rural_fares = rural_fares / rural_rides

# print(avg_urban_fares)
# print(avg_suburban_fares)
# print(avg_rural_fares)

type
Rural      34.62
Suburban   30.97
Urban      24.53
Name: fare, dtype: float64

In [8]:
# 5. Get the average fare per driver for each city type. 
type_fares_driver_avg = type_fares_total/type_driver_count
type_fares_driver_avg

# avg_urban_fares_per_driver = urban_fares / urban_drivers
# avg_suburban_fares_per_driver = suburban_fares / suburban_drivers
# avg_rural_fares_per_driver = rural_fares / rural_drivers

# print(avg_urban_fares_per_driver)
# print(avg_suburban_fares_per_driver)
# print(avg_rural_fares_per_driver)

type
Rural      55.49
Suburban   39.50
Urban      16.57
dtype: float64

In [9]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df =pd.DataFrame(
                    {"Total Rides": type_rides_count,
                     "Total Drivers": type_driver_count,
                    "Total Fares": type_fares_total,
                    "Average Fare per Ride" : type_fares_avg,
                    "Average Fare per driver": type_fares_driver_avg,
                    })

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per driver
type,,,,,
Rural,125,78,"4,327.93",34.62,55.49
Suburban,625,490,"19,356.33",30.97,39.50
Urban,1625,2405,"39,854.38",24.53,16.57

In [10]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per driver
Rural,125,78,"4,327.93",34.62,55.49
Suburban,625,490,"19,356.33",30.97,39.50
Urban,1625,2405,"39,854.38",24.53,16.57

In [23]:
#  8. Format the columns.
pyber_summary_df =pd.DataFrame(
                    {"Total Rides": type_rides_count,
                     "Total Drivers": type_driver_count,
                    "Total Fares": type_fares_total.map("${:,.2f}".format),
                    "Average Fare per Ride" : type_fares_avg.map("${:,.2f}".format),
                    "Average Fare per driver": type_fares_driver_avg.map("${:,.2f}".format),
                    })

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [12]:
# 1. Read the merged DataFrame

In [13]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [14]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [15]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [16]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [17]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [18]:
# 7. Check that the datatype for the index is datetime using df.info()

In [19]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [20]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')